body{
	background-color: #0079BF;
}
.navbar-default{
	background-color: #0067A3;
	margin-bottom: 30px;
}
.board{
	background-color: #3486B6;
	color: #FFF;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
}
.board:hover{
	background-color: #61A1C6;
}
.icon-trello{
	margin-right: 10px;
}
.img-logo{
	margin-top: 15px;
}
.img-logo:hover{
	opacity : 0.7;
	cursor: pointer;
}
.user{
	margin-top: 10px;
}
.user:hover{
	opacity : 0.7;
	cursor: pointer;
}
.linea-nav{
	background-color: #EFE3C3;
	width: 100%;
	height: 40px;
}
.linea-nav h5{
	padding-top: 10px;
}
.titulo{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #FFF;
}
.primer-input{
	background-color: #006BA9;
	color: #FFF;
	cursor: pointer;
	padding: 10px 130px 10px 10px;
	border-radius: 5px;
}
.primer-input:hover{
	background-color: #005586;
}

.form-group{
	margin-top: 20px;
	width: 220px;
	height: 50px;
	border-radius: 5px;
	padding: 10px;
}
.btn-dos{
	margin-left: 20px;
}

